.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadrado {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
  background-color:white;
  border-color:green; 
  border-style: solid;
  color:black;
  text-align: center;
}