.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px
}

.quadrado {
  width: 180px;
  height: 110px;
  margin-bottom: 20px;
  background-color:white;
  border-color:greenyellow; 
  border-style: solid;
  color:black;
  text-align: center;
  transition: transform 0.9s, background-color 0.3s;
}

.quadrado:hover {
  transform: scale(1.1);
}

.play-button {
  width: 25px;
  height: 25px;
  background-color: greenyellow;
  color:white;
  font-size: 26spx;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.IMG {
  background-image: url(../imagens/imagemcimaLLL.jpeg);
  display: flex;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0%;
  left: 0%;
  background-position: 100%;
  cursor: pointer;
  justify-content: space-around;
}